@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

* {
    color: black;
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: cadetblue;
}
.fes {
max-width: 600px;
}

header {
    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
}
.subheader {
    font-size: 30px;
    margin: 16px 0 24px 0;
}

button{
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 0 16px;
    font-size: 24px;
    cursor: pointer;
}
.logo {
    width: 300px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding: 16px;
}

.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/*
ABOUT
*/ 

#about {
    padding: 48px 0;
    background-color: #f8ffdc;
}

h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 24px;
}

.section__description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__img--wrapper {
    width: 40%;
    margin: 24px;
}

img {
    width: 100%;
}

.section__description--wrapper {
width: 60%;
font-size: 20px;
padding: 0 24px;
}

.section__description--para {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}

/*
DISCORD
*/

#discord {
    background-color: lightblue;
    padding-bottom: 24px;
    padding-top: 48px;
    flex-direction: row;
}

.discord__img--wrapper {
    margin-left: 24px;
    display: flex;

}

/*
CONTACT
*/

#contact {
    padding: 24px 0;
    background-color: plum;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column; or margin zero auto 
}

.input, textarea {
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6px 12px;
}

/*
FOOTER
*/

footer {
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
}

.footer__logo {
    width: 100%;
    max-width: 480px;
    margin-bottom: 24px;
}

.footer__links {
    margin-bottom: 32px;
    padding-left: 24px;
}

.copyright {
    font-size: 14px;
    padding-bottom: 32px;
    font-weight: 300;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 728px) {

.row { 
    flex-direction: column;
     }

    .home__description: {
        margin-bottom: 24px;
     }
        

    .home__description--button {
        max-width: 240px;
     }

   h1 {
    text-align: center;
    font-size: 35px;
     }

    .subheader {
    font-size: 24px;
     }

     ul {
        display: none;
     }

     .section__description {
        flex-direction: column;
     }

     .section__description--wrapper {
        width: 100%;
     }

     .about__img--wrapper {
        width: 100%;
        padding: 0 24px;
     }

     #discord .section__description {
        flex-direction: column-reverse;
        }

        footer {
        padding: 48px 24px;
        }

       .footer__logo {
    max-width: 360px;
       }

       .footer__links {
        padding: 0 8px;
        font-size: 18px;
       }

       .contact--us { 
        padding: 0 24px;
       }
}
